<link rel="stylesheet" href="login.css"/>
<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/flexslider.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/owl.carousel.min.css">
	<link rel="stylesheet" href="/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/style.css">

	<script src="js/modernizr-2.6.2.min.js"></script>


	</head>
	<body>
	
	
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="/">Orphanage</a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="/doner_registration">Register</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="wrap" >
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                <h1>Login</h1>
            </div>
            
        </div>
        <div class="fh5co-staff text-center animate-box">
            <section class="container" id="form-container">
                <form action="" method="POST">
                    
                            <div class="form-group">
                                <input type="text" name="username" id="username" placeholder="Enter username">
                            </div>
                            <div class="bar">
                                <i></i>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Enter password">
                            </div>
                            <div class="bar">
                                <i></i>
                            </div>
                    <button type="submit" class="btn btn-primary">sign in</button>
                </form>    
            </section>
        </div> 
    </div>

	</div>
	
	
	<!-- jQuery -->
	<script src="/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="/jquery.flexslider-min.js"></script>

	<!-- MAIN JS -->
	<script src="/main.js"></script>

	</body>
</html>

<script>
    document.getElementById('loginForm').addEventListener('submit', async (event) => {
      event.preventDefault(); // Prevent form submission

      // Fetch login data from form
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      // Make AJAX request to login endpoint
      const response = await fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, password })
      });

      if (response.ok) {
        // Redirect to success page
        window.location.href = '/success';
      } else {
        // Display error message
        const errorMessage = await response.text();
        alert("invalid credentials")
        document.getElementById('errorMessage').innerText = errorMessage;
        document.getElementById('errorMessage').style.display = 'block';
      }
    });
  </script>


